
        <ul class="order-keys">
            <li><span class="label QO">Quote</span></li>
            <li><span class="label CM">Committed</span></li>
            <li><span class="label PI">Ready to Pick or Pack</span></li>
            <li><span class="label PS">Ready to Ship</span></li>
            <li><span class="label SH">Shipped</span></li>
            <li><span class="label ND">Dropship</span></li>
            <br />
            <li><span class="label OR">On Review</span></li>
            <li><span class="label BO">Back Order</span></li>
            <li><span class="label UO">User Hold</span></li>
            <li><span class="label PE">Permanent Hold</span></li>   
            <li><span class="label EP">No Status</span></li>
            <li><span class="label CN">Canceled</span></li>
        </ul>